@charset "UTF-8";
@import 'uteis';

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    font-family: 'Assistant', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --vermelho: red;
    --amarelo: rgb(230, 196, 0);

    --preto: rgb(25, 25, 25);
    --branco: rgb(249, 249, 249);
    --cinza: rgb(109, 109, 109);

    --sombra: 1px 2px 9px rgba(0, 0, 0, 0.232);
}

html {
    @include tamanho(100%, 100%);
    background-color: $branco;
    overflow-x: hidden;
}

h1, h1 * {
    font-family: 'Bungee Shade', cursive;
}

ul, ol {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: $preto;
}

.divisor {
    @include tamanho(0.2rem, 100vw);
    background-image: linear-gradient(90deg, $vermelho, $amarelo);
}

@media all {
    
    body {
        @include tamanho(100%, 100%);
        overflow-x: hidden;
        
        header {
            @include tamanho(8vh, 100%);
            @include flex(row, center, space-between);
    
            padding: 0px 1.2em;
            background-color: $branco;
    
            box-shadow: $sombra;
    
            position: fixed;
            top: 0%;
            z-index: 1000;
    
            h1 {
                display: block;
                position: relative;
                top: -12%;
            }
    
            div {
                position: relative;
    
                #AiOutlineMenu {
                    @include tamanho(1.4em, 1.4em);
                    transform: rotateZ(180deg);
                    transition-duration: .6s;
                }
                
                nav {
                    @include tamanho(100vh, 100vw);
    
                    position: fixed;
                    left: -100%;
                    top: -0%;
                    transition-duration: .5s;
    
                    #BiArrowFromRight {
                        @include tamanho(2em, 2em);
                        position: absolute;
                        top: 1%;
                        right: 16px;
    
                        transition-duration: .6s;
                        // transform: scaleX(1.4);
                    }
        
                    ul {
                        @include tamanho(100%, 100%);
                        @include flex(column, center, space-evenly);
                        background-color: rgba(255, 255, 255, 0.853);
                        
                        li {
                            font-size: 2em;
                            color: $preto;
                        }
                    }
                }  
            }
    
        }
    
        main {
    
            section {
                @include tamanho(92vh, 100%);
                padding: 0px 1.2em; 
            }
    
            #inicio {
                @include flex(column, center, center, 30vh);
                font-size: 4.6vw;
    
                margin-top: 8vh;
    
                p {
                    font-size: clamp(30px, 10vw, 50px);
                    font-weight: 700;
                }
    
                @keyframes botao-inicio {
                    0% {
                        transform: translateY(-0%)
                    }
                    50% {
                        transform: translateY(-10%);
                    }
                    100% {
                        transform: translateY(0%)
                    }
                }
    
                #button {
                    @include tamanho(clamp(10px, 7vh, 125px), clamp(75px, 30vw, 250px));
                    @include centralizar();
                    
                    background-color: $vermelho;
                    color: $branco;
    
                    font-size: clamp(10px, 5vw, 30px);
                    font-weight: 700;
                    border-radius: 20px;
                    animation-name: botao-inicio;
                    animation-iteration-count: infinite;
                    animation-duration: 1s;
    
                }
            }
    
            #sobre {
                @include flex(column, center, center, 5%);
    
                .caixa {
                    @include tamanho(25%, 100%);
                    @include flex(row, center, center, 0);
    
                    position: relative;
    
                    [class^="icon"] {
                        @include tamanho(4em, 4em);
    
                        color: white;
                        
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%)
                    }
    
                    .imagem {
                        @include tamanho(100%, 100%);
                        @include position(absolute);
                        
                        background-color: blue;
    
                        position: absolute;
                        left: 0%;
    
                        transition-duration: .6s;
                    }
    
                    .informacao {
                        @include tamanho(100%, 00%);
                        @include position(absolute);
                        @include centralizar();
    
                        background-image: linear-gradient(120deg, $vermelho, $amarelo);
                        padding-right: 4em;
    
                        position: absolute;
                        right: 0%;
                        
                        overflow: hidden;
                        transition-duration: .6s;
    
                        .icon-inf {
                            right: 0%;
                        }
                        
                        p {
                            color: $branco;
                            text-align: center;
                            font-size: .9em;
                        }
                    }
                }
            }
    
            #lugar {
                @include flex(column, center, space-around);
                padding-top: 1.8em;
    
                #paragrafo {
                    text-align: center;
                    font-size: clamp(10px, 5vw, 30px);
                }   
    
            }
            #img-lugar {
                @include tamanho(10em, 100vw);
    
                background-color: blue;
                margin-bottom: 1.2em;
            }
    
            #menu {
                @include flex(column);
                padding: 2em 0em;
    
                .card {
                    @include tamanho(25%, 90%);
                    @include flex();
                    
                    background-color: $branco;
                    padding: 1em;
                    
                    border-top: 1px solid rgb(196, 196, 196);
                    border-bottom: 1px solid rgb(196, 196, 196);
                    border-radius: 15px;
    
                    position: relative;
                    transition-duration: .2s;
                    
                    
                    .background-icons {
                        @include tamanho(70%, 30%);
    
                        filter: opacity(25%);
                        position: relative;                    
                    }
    
                    div {
                        @include tamanho(100%, 50%);
                        @include flex(column, center, space-between);
                        
                        position: relative;
                        
                        h2 {
                            font-family: 'Bungee Shade';
                        }
    
                        p {
                            font-size: 1.2em;
                            font-weight: 600;
                        }
                    }
    
                    &:hover {
                        border-left: .5em solid $vermelho;
                        transform: scale(1.1);
                                        
                        h2 {color: $vermelho;}
                        p {color: $amarelo;}
                    }
                }
            }
        }
    
        footer {
            @include tamanho(70vh, 100vw);
            position: relative;
    
            h2 {
                text-align: center;
                margin: auto;
                margin-top: 2em;
            }
    
            #contatos {
                @include tamanho(70%, 100%);
                @include flex(column, center, space-evenly, 2vh);
                
                background-color: $vermelho;
                padding: 0px 1em;
    
                position: absolute;
                bottom: 0%;
    
                padding: 2em 0px;
    
                p {
                    font-size: clamp(15px, 4vw, 20px);
                    font-weight: 600;
                    text-align: center;
                }
                
                #button {
                    @include tamanho(clamp(50px, 5vh, 200px), clamp(50px, 30vw, 250px));
                    @include centralizar();
                    
                    background-color: $amarelo;
                    color: $preto;
    
                    font-size: clamp(5px, 4vw, 30px);
                    font-weight: 700;
                    border-radius: 20px;
                    
                    box-shadow: 2px 3px 11px rgba(0, 0, 0, 0.451);

                    #button-icon {
                        margin-left: .2em;
                    }
                    
                }
    
                #redes {
                    @include flex($gap: 4em);
                    margin-top: 2em;
    
                    .icons {
                        @include tamanho(2em, 2em);
                        color: $branco;
    
                        transition-duration: .2s;
                        
                        &:hover {
                            transform: translateY(-25%);
                            color: $amarelo;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 768px) {
    body {
        main {

            #menu {

                .card {
                    
                    div {
                        @include flex(row, center);
                    }
                }
            }

            #sobre {
                .caixa {
                    width: 80%;

                    $duration: .45s;
                    .informacao {
                        transition-duration: $duration;
                    }

                    .imagem {
                        transition-duration: $duration;
                    }
                }
            }
        }

        footer {
            height: 30vh;

            #contatos {
                @include flex(row, center, space-around, 5vw);
                @include tamanho(15vh, 100%);

                padding: 0px 5vw;

                p {
                    display: none;
                }

                #button {
                    transition-duration: .25s;
                    
                    &:hover {
                        transform: translateY(-20%);
                    }
                }

                #redes {
                    margin: 0;
                    
                    a {
                        transition-duration: .2s;
                        &:hover {
                            transform: translateY(-15%);
                        }
                    }
                    
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        main {
            #inicio {
                @include flex(row, center);
            }

            #sobre {
                @include flex(row, center, center, 2vw);

                .caixa {
                    height: 80%;
                    transition-duration: .2s;
                }
            }

            #lugar {
                #paragrafo {
                    font-size: 4vh;
                }
            }
        }
    }
}

