@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --vermelho: red;
  --amarelo: rgb(230, 196, 0);
  --preto: rgb(25, 25, 25);
  --branco: rgb(249, 249, 249);
  --cinza: rgb(109, 109, 109);
  --sombra: 1px 2px 9px rgba(0, 0, 0, 0.232);
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--branco);
  overflow-x: hidden;
}

h1, h1 * {
  font-family: "Bungee Shade", cursive;
}

ul, ol {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--preto);
}

.divisor {
  height: 0.2rem;
  width: 100vw;
  background-image: linear-gradient(90deg, var(--vermelho), var(--amarelo));
}

@media all {
  body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  body header {
    height: 8vh;
    width: 100%;
    display: flex;
    gap: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1.2em;
    background-color: var(--branco);
    box-shadow: var(--sombra);
    position: fixed;
    top: 0%;
    z-index: 1000;
  }
  body header h1 {
    display: block;
    position: relative;
    top: -12%;
  }
  body header div {
    position: relative;
  }
  body header div #AiOutlineMenu {
    height: 1.4em;
    width: 1.4em;
    transform: rotateZ(180deg);
    transition-duration: 0.6s;
  }
  body header div nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: -100%;
    top: 0%;
    transition-duration: 0.5s;
  }
  body header div nav #BiArrowFromRight {
    height: 2em;
    width: 2em;
    position: absolute;
    top: 1%;
    right: 16px;
    transition-duration: 0.6s;
  }
  body header div nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.853);
  }
  body header div nav ul li {
    font-size: 2em;
    color: var(--preto);
  }
  body main section {
    height: 92vh;
    width: 100%;
    padding: 0px 1.2em;
  }
  body main #inicio {
    display: flex;
    gap: 30vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4.6vw;
    margin-top: 8vh;
  }
  body main #inicio p {
    font-size: clamp(30px, 10vw, 50px);
    font-weight: 700;
  }
  @keyframes botao-inicio {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  body main #inicio #button {
    height: clamp(10px, 7vh, 125px);
    width: clamp(75px, 30vw, 250px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--vermelho);
    color: var(--branco);
    font-size: clamp(10px, 5vw, 30px);
    font-weight: 700;
    border-radius: 20px;
    animation-name: botao-inicio;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }
  body main #sobre {
    display: flex;
    gap: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main #sobre .caixa {
    height: 25%;
    width: 100%;
    display: flex;
    gap: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  body main #sobre .caixa [class^=icon] {
    height: 4em;
    width: 4em;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  body main #sobre .caixa .imagem {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: blue;
    position: absolute;
    left: 0%;
    transition-duration: 0.6s;
  }
  body main #sobre .caixa .informacao {
    height: 100%;
    width: 0%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, var(--vermelho), var(--amarelo));
    padding-right: 4em;
    position: absolute;
    right: 0%;
    overflow: hidden;
    transition-duration: 0.6s;
  }
  body main #sobre .caixa .informacao .icon-inf {
    right: 0%;
  }
  body main #sobre .caixa .informacao p {
    color: var(--branco);
    text-align: center;
    font-size: 0.9em;
  }
  body main #lugar {
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.8em;
  }
  body main #lugar #paragrafo {
    text-align: center;
    font-size: clamp(10px, 5vw, 30px);
  }
  body main #img-lugar {
    height: 10em;
    width: 100vw;
    background-color: blue;
    margin-bottom: 1.2em;
  }
  body main #menu {
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0em;
  }
  body main #menu .card {
    height: 25%;
    width: 90%;
    display: flex;
    gap: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco);
    padding: 1em;
    border-top: 1px solid rgb(196, 196, 196);
    border-bottom: 1px solid rgb(196, 196, 196);
    border-radius: 15px;
    position: relative;
    transition-duration: 0.2s;
  }
  body main #menu .card .background-icons {
    height: 70%;
    width: 30%;
    filter: opacity(25%);
    position: relative;
  }
  body main #menu .card div {
    height: 100%;
    width: 50%;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  body main #menu .card div h2 {
    font-family: "Bungee Shade";
  }
  body main #menu .card div p {
    font-size: 1.2em;
    font-weight: 600;
  }
  body main #menu .card:hover {
    border-left: 0.5em solid var(--vermelho);
    transform: scale(1.1);
  }
  body main #menu .card:hover h2 {
    color: var(--vermelho);
  }
  body main #menu .card:hover p {
    color: var(--amarelo);
  }
  body footer {
    height: 70vh;
    width: 100vw;
    position: relative;
  }
  body footer h2 {
    text-align: center;
    margin: auto;
    margin-top: 2em;
  }
  body footer #contatos {
    height: 70%;
    width: 100%;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--vermelho);
    padding: 0px 1em;
    position: absolute;
    bottom: 0%;
    padding: 2em 0px;
  }
  body footer #contatos p {
    font-size: clamp(15px, 4vw, 20px);
    font-weight: 600;
    text-align: center;
  }
  body footer #contatos #button {
    height: clamp(50px, 5vh, 200px);
    width: clamp(50px, 30vw, 250px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--amarelo);
    color: var(--preto);
    font-size: clamp(5px, 4vw, 30px);
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 2px 3px 11px rgba(0, 0, 0, 0.451);
  }
  body footer #contatos #redes {
    display: flex;
    gap: 4em;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
  }
  body footer #contatos #redes .icons {
    height: 2em;
    width: 2em;
    color: var(--branco);
    transition-duration: 0.2s;
  }
  body footer #contatos #redes .icons:hover {
    transform: translateY(-25%);
    color: var(--amarelo);
  }
}
@media screen and (min-width: 768px) {
  body main #menu .card div {
    display: flex;
    gap: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  body main #sobre .caixa {
    width: 80%;
  }
  body main #sobre .caixa .informacao {
    transition-duration: 0.45s;
  }
  body main #sobre .caixa .imagem {
    transition-duration: 0.45s;
  }
  body footer {
    height: 30vh;
  }
  body footer #contatos {
    display: flex;
    gap: 5vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    width: 100%;
    padding: 0px 5vw;
  }
  body footer #contatos #button {
    transition-duration: 0.25s;
  }
  body footer #contatos #button:hover {
    transform: translateY(-20%);
  }
  body footer #contatos #recado-redes {
    display: none;
  }
  body footer #contatos #redes {
    margin: 0;
  }
  body footer #contatos #redes a {
    transition-duration: 0.2s;
  }
  body footer #contatos #redes a:hover {
    transform: translateY(-15%);
  }
}
@media screen and (min-width: 1024px) {
  body main #inicio {
    display: flex;
    gap: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  body main #sobre {
    display: flex;
    gap: 2vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  body main #sobre .caixa {
    height: 80%;
    transition-duration: 0.2s;
  }
  body main #lugar #paragrafo {
    font-size: 4vh;
  }
}/*# sourceMappingURL=main.css.map */